/****** CORES *******/
:root{
    --titulo-color: #008B8B;
    --titulo-color-casos: #AB82FF;
    --titulo-color-mortes: #FF3030;
    --titulo-color-testes: #1E90FF;
    --titulo-color-status: #00CD00;
    --border-color: #696969;
    --border-color-hover: #363636;
    --body-color: #F8F8FF;
}

/****** FONTES *******/
@font-face {
    font-family: fontTitle;
    src: url(../assets/fonts/Kanit-Medium.ttf);
}

/****** GERAL *******/
.body-color{
    background-color: var(--body-color);
}

h2 {
    font-family: fontTitle;
}

.cards-dashboard {
    box-shadow: 0 4px 4px 0 var(--border-color);
    transition: 0.3s;
}

.cards-dashboard:hover {
    box-shadow: 0 5px 5px 0 var(--border-color-hover);
}

/****** CARD-PAIS *******/
#pais {
    margin-top: 10px;
}

.card-pais {
    width: 22rem;
    height: 200px;
}

.titulo-pais {
    padding-top: 20px;
}

#btn-cancelar {
    margin-top: 15px;
}

/****** DASHBOARD *******/
#dashboard {
    padding-top: 20px;
}

.bloco {
    padding-top: 5px;
}

.body-header {
    margin-top: 10px;
}

/****** CARD-CASOS *******/
.titulo-casos {
    color: var(--titulo-color-casos);
    font-family: fontTitle;
}

/****** CARD-MORTES *******/
.titulo-mortes {
    color: var(--titulo-color-mortes);
    font-family: fontTitle;
}

/****** CARD-TESTES *******/
.titulo-testes {
    color: var(--titulo-color-testes);
    font-family: fontTitle;
}

/****** CARD-STATUS *******/
.titulo-status {
    color: var(--titulo-color-status);
    font-family: fontTitle;
}